<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="pl-20 pt-10">
    <% if (messages && messages.success && messages.success.length > 0) { %>
        <% messages.success.forEach(function(message) { %>
            <div class="alert alert-success">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% messages.error.forEach(function(message) { %>
            <div class="alert alert-error">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
            <%- include('header.ejs') %>
            <p class="py-2">Welcome to the TO-DO manager</p>
            <p class="py-2">New Here ? <a href="/signup" class="text-green-600">Sign-up-now</a></p>
            <p class="py-2">Already have an accouunt? <a href="/login" class="text-green-600">Sign-in</a></p>
            <%- include('footer.ejs') %>
   
 

    <script src="./js/script.js"></script>
</body>
</html>