
<pre><%= JSON.stringify(messages, null, 2) %></pre>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="pl-20 pt-10">
            <%- include('header.ejs') %>
            <%- include('notifications.ejs') %>
            <a href="/signout">Sign Out</a>
            <%- include('form.ejs') %>
            <%- include('todo.ejs') %>
            <%- include('footer.ejs') %>
   
 

    <script src="./js/script.js"></script>
</body>
</html>