
<!-- <pre><%= JSON.stringify(messages, null, 2) %></pre> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="pl-20 pt-10">
            <%- include('header.ejs') %>
            <%- include('notifications.ejs') %>
            <div class="flex-none">
                <button onclick="window.location.href='/signout';" class="bg-green-600 text-white px-5 py-2 rounded font-medium mr-2 mb-2 ">signout</button>
            </div>
            <%- include('form.ejs') %>
            <%- include('todo.ejs') %>
            <%- include('footer.ejs') %>
   
 

    <!-- <script src="./js/script.js"></script> -->
    <script>
        /* eslint-disable no-unused-vars */

        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function updateTodo(id) {
        fetch(`/todos/${id}`, {
            method: "put",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
            _csrf: token,
            }),
        })
            .then((res) => {
            if (res.ok) {
                window.location.reload();
            }
            })
            .catch((err) => console.error(err));
        }

        function deleteTodo(id) {
        fetch(`/todos/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
            _csrf: token,
            }),
        })
            .then((res) => {
            if (res.ok) {
                window.location.reload();
            }
            })
            .catch((err) => console.error(err));
        }

     </script>
</body>
</html>